<template>
  <v-list>
    <v-subheader>
      <v-btn @click="$router.push('/')" icon>
        <v-icon>mdi-arrow-left-circle</v-icon>
      </v-btn>
      <strong>Todos of {{ currentUser.name }}</strong> : {{ status }}
    </v-subheader>
    <v-list-item-group color="primary">
      <v-list-item
        v-for="todo in foundTodos"
        :key="todo.id"
        @click="complite(todo)"
      >
        <v-list-item-icon>
          <v-icon>{{ todo.completed ? "mdi-check" : "mdi-ticket" }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title
            v-text="todo.title"
            :class="{ completed: todo.completed }"
          ></v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list-item-group>
  </v-list>
</template>

<script>
import ApiService from "@/services/api-service";
export default {
  name: "TodoListView",
  props: {
    id: String
  },
  data: () => ({
    todos: [],
    searchStr: ""
  }),
  computed: {
    currentUser: {
      get() {
        return localStorage.getItem("currentUser") !== "undefined"
          ? JSON.parse(localStorage.getItem("currentUser"))
          : "";
      },
      set(value) {
        localStorage.setItem("currentUser", JSON.stringify(value));
      }
    },
    foundTodos() {
      return this.todos.filter(todo => todo.title.includes(this.searchStr));
    },
    status() {
      return this.todos.length ? `Loaded ${this.todos.length}` : "Loading...";
    }
  },
  created() {
    this.$root.$on("search", searchStr => {
      this.searchStr = searchStr;
    });
  },
  async mounted() {
    if (!this.currentUser || this.currentUser.id !== this.$props.id) {
      await this.loadUser();
    }
    await this.loadTodos({ userId: this.$props.id });
  },
  methods: {
    async loadTodos() {
      this.todos = await ApiService.fetchTodos({ userId: this.$props.id });
    },
    async loadUser() {
      const { data } = await ApiService.fetchUsers({ id: this.$props.id });
      this.currentUser = data;
    },
    complite(todo) {
      todo.completed = !todo.completed;
    }
  },
  beforeDestroy() {
    this.$root.$off("search");
  }
};
</script>
<style scoped>
.completed {
  text-decoration: line-through;
}
</style>
