<template>
  <v-list>
    <v-subheader>Users {{ status }}</v-subheader>
    <v-list-item-group v-model="currentUser" color="primary">
      <v-list-item v-for="user in foundUsers" :key="user.id">
        <v-list-item-icon>
          <v-icon>mdi-account</v-icon>
        </v-list-item-icon>
        <v-list-item-content @click="open(user)">
          <v-list-item-title v-text="user.name"></v-list-item-title>
          <v-list-item-subtitle v-text="user.email"></v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-content>
          <v-list-item-title v-text="user.username"></v-list-item-title>
        </v-list-item-content>
        <v-list-item-content>
          <v-list-item-title v-text="user.phone"></v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list-item-group>
    <div class="text-center" v-if="foundUsers.length">
      <v-btn
        class="ma-2"
        outlined
        color="indigo"
        :disabled="pageNumber === 1"
        @click="pageNumber = 1"
      >
        Первая
      </v-btn>
      <v-btn
        class="ma-2"
        outlined
        color="indigo"
        :disabled="pageNumber === 1"
        @click="pageNumber--"
      >
        Предыдущая
      </v-btn>
      <v-btn>{{ pageNumber }}</v-btn>
      <v-btn
        class="ma-2"
        outlined
        color="indigo"
        :disabled="pageNumber === lastPageNumber"
        @click="pageNumber++"
      >
        Следующая
      </v-btn>
      <v-btn
        class="ma-2"
        outlined
        color="indigo"
        :disabled="pageNumber === lastPageNumber"
        @click="pageNumber = lastPageNumber"
      >
        Последняя
      </v-btn>
    </div>
  </v-list>
</template>

<script>
import ApiService from "@/services/api-service";
export default {
  name: "UserListView",
  data: () => ({
    users: [],
    totalCount: 0,
    pageNumber: 1,
    perPage: 5,
    searchStr: ""
  }),
  computed: {
    currentUser: {
      get() {
        return localStorage.getItem("currentUser") !== "undefined"
          ? JSON.parse(localStorage.getItem("currentUser"))
          : "";
      },
      set(value) {
        localStorage.setItem("currentUser", JSON.stringify(value));
      }
    },
    lastPageNumber() {
      return Math.ceil(this.totalCount / this.perPage);
    },
    foundUsers() {
      return this.users.filter(
        user =>
          user.name.includes(this.searchStr) ||
          user.username.includes(this.searchStr)
      );
    },
    status() {
      if (this.users.length) {
        let fromRec = this.perPage * (this.pageNumber - 1) + 1;
        let toRec = fromRec + this.perPage - 1;
        toRec = toRec <= this.totalCount ? toRec : this.totalCount;
        return `Loaded ${this.users.length} (from ${fromRec} to ${toRec}) of ${this.totalCount}`;
      } else {
        return "Loading...";
      }
    }
  },
  watch: {
    pageNumber(n) {
      this.users = [];
      this.loadUsers({ _limit: this.perPage, _page: n });
    }
  },
  created() {
    this.loadUsers({ _limit: this.perPage, _page: this.pageNumber });
    this.$root.$on("search", searchStr => {
      this.searchStr = searchStr;
    });
  },
  methods: {
    loadUsers(props) {
      ApiService.fetchUsers(props).then(responce => {
        this.users = responce.data;
        this.totalCount = responce.totalCount;
      });
    },
    open(user) {
      this.currentUser = user;
      this.$router.push("/" + user.id);
    }
  },
  beforeDestroy() {
    this.$root.$off("search");
  }
};
</script>
