<template>
  <v-app-bar
    :clipped-left="$vuetify.breakpoint.lgAndUp"
    app
    color="blue darken-3"
    dark
  >
    <v-toolbar-title>
      <router-link
        tag="span"
        to="/"
        class="hidden-sm-and-down v-chip--clickable"
      >
        Logo
      </router-link>
    </v-toolbar-title>
    <v-spacer />
    <v-text-field
      v-model="search"
      append-icon="mdi-magnify"
      label="Search"
      single-line
      hide-details
      @keyup="searchHandler"
    ></v-text-field>
    <v-spacer />
    <v-btn icon to="/about" exact>
      <v-icon>mdi-information-outline</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script>
export default {
  name: "HeaderComponent",
  data: () => ({
    search: ""
  }),
  watch: {
    $route: {
      handler() {
        this.search = "";
        this.searchHandler();
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    searchHandler() {
      this.$root.$emit("search", this.search);
    }
  }
};
</script>

<style scoped></style>
