<template>
  <v-app>
    <HeaderComponent />
    <v-content>
      <v-container fluid>
        <keep-alive>
          <router-view :key="$route.fullPath"></router-view>
        </keep-alive>
      </v-container>
    </v-content>
    <v-footer app></v-footer>
  </v-app>
</template>

<script>
import HeaderComponent from "@/components/HeaderComponent";
export default {
  name: "App",
  components: { HeaderComponent }
};
</script>
